<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  
    <div style="text-align:center;" >
        <div class="card text-bg-light mb-3" style="max-width: 50rem;margin:10rem auto">
            <div class="card-header"> <h3 class="title-signin">Sign in with email</h3></div>
            <div class="card-body" style="justify-content: space-between;">


               
                <% if (error.length>0) { %>
                  <% for (e of error) { %>
                  <div class="alert alert-warning alert-dismissible fade show " role="alert">
                   <%= e %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
                <% } %>
                <% } %>
                <form action="/api/login" method="post">
                  <div class="row">
                    <div class="col-lg-12 gap-between form-floating" style="margin-top: 2rem">
                      
                      <input type="email" name="email" class="form-control" id="email" placeholder="something@something" required>
                      <label for="email" class="form-label">Email</label>
                    </div>
                    <div class="col-lg-12 gap-between form-floating" style="margin-top: 2rem">
                    
                    <input type="password" name="password" class="form-control" id="password" placeholder="give your password" minlength="6" required>
                    <label for="password" class="form-label">Password</label>
                    </div>
                    <div class="col-lg-12 d-grid  gap-2 gap-between" style="margin-top: 2rem">
                      <button type="submit" class="btn btn-lg btn-dark">Sign In</button>
                    </div>
                    
                   
                  </div>
                  
                </form>

                <form action="/lets/sign_up/" method="post" style="margin-top: 2rem">
                    New to Book_Miejsce? <button type="submit" class="btn btn-light">Sign Up</button>
                  </form>
              
            </div>
          </div>
          
    </div>
   
</body>
</html>