@font-face { 
  font-family:Sohne;
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:local("Sohne Buch"),local("Sohne-Buch"),url(https://www.masterclass.com./fonts/sohne-buch.woff2) format("woff2"),url(/_next-public/fonts/sohne-buch.woff) format("woff");
} 
@font-face { 
  font-family:Sohne;
  font-style:normal;
  font-weight:500;
  font-display:swap;
  src:local("Sohne Halbfett"),local("Sohne-Halbfett"),url(https://www.masterclass.com./fonts/sohne-halbfett.woff2) format("woff2"),url(/_next-public/fonts/sohne-halbfett.woff) format("woff");
} 
* { 
    box-sizing:  inherit;
} 

.mc-page__content { 
    min-height: 100vh;
} 

div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

body { 
    margin:    0; 
    padding:    0; 
    border:    0; 
    font-size:  var(--mc-scale-4)!important; 
    font:    inherit; 
    vertical-align:    baseline;
    line-height:  calc(var(--mc-scale-4) + var(--mc-scale-1)); 
    background:  var(--mc-theme-background); 
    color:  var(--mc-theme-text);
    font-weight: 400; 
    font-family: Sohne,Helvetica,Arial,sans-serif; 
    font-feature-settings: none; 
    font-variant-ligatures: none; 
    text-rendering: optimizeLegibility; 
    letter-spacing: .01em; 
    -webkit-font-smoothing: antialiased; 
} 

html { 
    margin:     0; 
    padding:     0; 
    border:     0; 
    font-size:   10px!important;
    font:     inherit; 
    vertical-align:     baseline;
    box-sizing:    border-box; 
    -ms-overflow-style:    scrollbar;
    overflow-x:   hidden;
    scroll-behavior: smooth;
} 

:root { 
    --mc-scale-0: 0rem; 
    --mc-scale-1: 0.4rem; 
    --mc-scale-2: 0.8rem; 
    --mc-scale-3: 1.2rem; 
    --mc-scale-4: 1.6rem; 
    --mc-scale-5: 1.8rem; 
    --mc-scale-6: 1.8rem; 
    --mc-scale-8: 2rem; 
    --mc-scale-9: 3.4rem; 
    --mc-scale-10: 4.6rem; 
    --mc-scale-11: 6rem; 
    --mc-scale-12: 7.2rem; 
    --mc-scale-3-5: 1.4rem;
} 

@media (min-width: 768px){ 
  :root { 
    --mc-scale-0: 0rem; 
    --mc-scale-1: 0.4rem; 
    --mc-scale-2: 0.8rem; 
    --mc-scale-3: 1.2rem; 
    --mc-scale-4: 1.6rem; 
    --mc-scale-5: 1.8rem; 
    --mc-scale-6: 2rem; 
    --mc-scale-8: 2.4rem; 
    --mc-scale-9: 3.8rem; 
    --mc-scale-10: 5.2rem; 
    --mc-scale-11: 6.6rem; 
    --mc-scale-12: 8rem;
  } 
}     

@media (min-width: 960px){ 
  :root { 
    --mc-scale-0: 0rem; 
    --mc-scale-1: 0.4rem; 
    --mc-scale-2: 0.8rem; 
    --mc-scale-3: 1.2rem; 
    --mc-scale-4: 1.6rem; 
    --mc-scale-5: 2rem; 
    --mc-scale-6: 2.4rem; 
    --mc-scale-8: 3.2rem; 
    --mc-scale-9: 4.8rem; 
    --mc-scale-10: 6.4rem; 
    --mc-scale-11: 8rem; 
    --mc-scale-12: 9.6rem;
  } 
}     

:root { 
    color:   var(--mc-theme-text); 
    --mc-theme-background:   #000; 
    --mc-theme-text:   #fff; 
    --mc-theme-badge-bg:   #fff; 
    --mc-theme-badge-text:   #000; 
    --mc-theme-carousel-dot:   #596170; 
    --mc-theme-carousel-dot-active:   #fff; 
    --mc-theme-carousel-arrow-bg:   rgb(39, 44, 51); 
    --mc-theme-carousel-arrow-bg-hover:   #31333b; 
    --mc-theme-carousel-arrow:   #949aa4; 
    --mc-theme-carousel-arrow-hover:   #fff; 
    --mc-theme-checkbox-bg:   #191c21; 
    --mc-theme-checkbox-border:   rgb(39, 44, 51); 
    --mc-theme-checkbox-checked:   #fff; 
    --mc-theme-form-bg:   #191c21; 
    --mc-theme-form-border:   rgb(39, 44, 51); 
    --mc-theme-form-elem-color:   #fff; 
    --mc-theme-radio-bg:   #191c21; 
    --mc-theme-box-shadow-light:   none; 
    --mc-color-primary-default:  var(--mc-color-primary-500); 
    --mc-color-primary-hover:  var(--mc-color-primary-600); 
    --mc-color-secondary-default:  var(--mc-color-neutral-700); 
    --mc-color-secondary-hover:  var(--mc-color-neutral-800); 
    --mc-color-tertiary-default:  var(--mc-color-transparent-500); 
    --mc-color-tertiary-hover:  var(--mc-color-neutral-800); 
    --mc-color-tertiary-border-default:  var(--mc-color-neutral-90); 
    --mc-color-bg-container-dark:  var(--mc-color-neutral-1000); 
    --mc-color-text-light:  var(--mc-color-neutral-90); 
    --mc-color-primary-100: #feb0c2; 
    --mc-color-primary-500: #e32652; 
    --mc-color-primary-600: #d61a46; 
    --mc-color-primary-700: #c71a42; 
    --mc-color-utility-100: #d4caf7; 
    --mc-color-utility-500: #4721d0; 
    --mc-color-utility-600: #3c1cb0; 
    --mc-color-utility-700: #301680; 
    --mc-color-neutral-90: #fff; 
    --mc-color-neutral-100: #f4f4f5; 
    --mc-color-neutral-200: #e9eaec; 
    --mc-color-neutral-300: #d4d5d9; 
    --mc-color-neutral-400: #b3b5bc; 
    --mc-color-neutral-500: #9ea0a9; 
    --mc-color-neutral-600: #565961; 
    --mc-color-neutral-700: #43454c; 
    --mc-color-neutral-800: #303136; 
    --mc-color-neutral-900: #222326; 
    --mc-color-neutral-1000: #0d0d0e; 
    --mc-color-neutral-1010: #000; 
    --mc-color-success-100: #c2ebd2; 
    --mc-color-success-500: #3ebb70; 
    --mc-color-warning-100: #ffdcad; 
    --mc-color-warning-500: #ff9000; 
    --mc-color-error-100: #ffd6d6; 
    --mc-color-error-500: #f33; 
    --mc-color-announce-500: #eed37f; 
    --mc-color-primary-brand-500: #ef4562; 
    --mc-color-focus-500: #3787ff; 
    --mc-color-twitter-500: #1d9bf0; 
    --mc-color-linkedin-500: #0a66c2; 
    --mc-color-facebook-500: #1877f2; 
    --mc-color-pinterest-500: #e71e27; 
    --mc-color-transparent-500: transparent;
} 

section { 
    margin:  0; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit; 
    vertical-align:  baseline;
    display: block;
} 

.container { 
    width: 100%; 
    padding-right: 8px; 
    padding-left: 8px; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 576px){ 
  .container { 
    max-width: 100%;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 100%;
  } 
}     

@media (min-width: 960px){ 
  .container { 
    max-width: 100%;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1328px;
  } 
}     

.container { 
    padding: 0 16px;
} 

@media only screen and (min-width: 576px){ 
  .container { 
    padding: 0 32px;
  } 
}     

@media only screen and (min-width: 768px){ 
  .container { 
    padding: 0 32px;
  } 
}     

@media only screen and (min-width: 960px){ 
  .container { 
    padding: 0 64px;
  } 
}     

@media only screen and (min-width: 1200px){ 
  .container { 
    padding: 0 64px;
  } 
}     

@media (min-width: 0){ 
  .mc-py-10 { 
    padding-top: var(--mc-scale-10)!important; 
    padding-bottom: var(--mc-scale-10)!important;
  } 
}     

*,:after,:before { 
    box-sizing: inherit;
} 

:selection { 
    background: hsla(218,8%,61%,.3);
} 

h2 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

.mc-text-h2 { 
    font-size:  var(--mc-scale-8);
    font-weight: 500; 
    line-height: 1.25; 
    letter-spacing: .03em;
} 

@media (min-width: 0){ 
  .mc-text--center { 
    text-align: center!important;
  } 
}     

@media (min-width: 0){ 
  .mc-mb-10 { 
    margin-bottom: var(--mc-scale-10)!important;
  } 
}     

.fresnel-container { 
    margin: 0; 
    padding: 0;
} 

@media not all and (max-width: 767.98px){ 
  .fresnel-lessThan-md { 
    display: none!important;
  } 
}     

.mc-carousel--dots { 
    padding-bottom: 16px;
} 

.mc-carousel__forced-spacing { 
    height: 1px; 
    margin-bottom: -1px;
} 

.mc-carousel__container { 
    margin: -999px calc(50% - 50vw + 8.5px); 
    padding: 999px calc(50vw - 50% - 8.5px); 
    overflow: hidden; 
    pointer-events: none;
} 

.mc-carousel__inner-container { 
    position: relative;
} 

button { 
    margin:  0; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit; 
    vertical-align:  baseline;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background: none; 
    color: inherit; 
    text-align: inherit;
} 

.mc-carousel__arrow { 
    position: absolute; 
    top: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 3em; 
    height: 3em; 
    border-radius: 3em; 
    background: var(--mc-theme-carousel-arrow-bg); 
    color: var(--mc-theme-carousel-arrow); 
    text-align: center; 
    z-index: 800; 
    box-shadow: var(--mc-theme-box-shadow-light); 
    cursor: pointer; 
    pointer-events: auto; 
    transition: background .2s ease,color .2s ease,opacity .2s ease;
} 

.mc-carousel__arrow--prev { 
    left: 0; 
    transform: translate(-50%,-50%);
} 

.mc-carousel__arrow:not(.slick-disabled):hover { 
    background: var(--mc-theme-carousel-arrow-bg-hover); 
    color: var(--mc-theme-carousel-arrow-hover);
} 

.row { 
    display:  flex; 
    flex-wrap:  wrap; 
    margin-right:  -8px; 
    margin-left:  -8px;
    margin: -8px;
} 

@media only screen and (min-width: 1200px){ 
  .row { 
    margin: -16px;
  } 
}     

.slick-slider { 
    box-sizing:  border-box; 
    -webkit-touch-callout:  none; 
    -webkit-user-select:  none; 
    -moz-user-select:  none; 
    -ms-user-select:  none; 
    user-select:  none; 
    touch-action:  pan-y; 
    -webkit-tap-highlight-color:  transparent;
    position: relative; 
    display: block;
} 

.mc-carousel__slider { 
    position: relative; 
    pointer-events: auto; 
    z-index: 0; 
    transition: z-index 0ms 1s;
} 

.mc-carousel__slider:hover { 
    z-index: 1; 
    transition: z-index 0ms 0ms;
} 

.mc-carousel__arrow--next { 
    right: 0; 
    transform: translate(50%,-50%);
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

.mc-carousel__arrow:not(.slick-disabled):hover .mc-carousel__arrow-text { 
    opacity: 1;
} 

.slick-list { 
    position:  relative; 
    display:  block;
    overflow: hidden; 
    margin: 0; 
    padding: 0;
} 

.slick-slider .slick-list  { 
    transform: translateZ(0);
} 

.mc-carousel .slick-list  { 
    overflow: hidden; 
    transition: height .25s ease;
} 

ul { 
    margin:  0; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit; 
    vertical-align:  baseline;
    list-style: none;
} 

.mc-carousel .slick-dots  { 
    position: absolute; 
    left: 50%; 
    bottom: -16px; 
    transform: translateX(-50%);
} 

svg { 
    vertical-align: middle;
} 

.slick-track { 
    position: relative; 
    left: 0; 
    top: 0; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
} 

.slick-slider .slick-track  { 
    transform: translateZ(0);
} 

.mc-carousel .slick-track  { 
    margin: 0;
} 

.slick-track:after,.slick-track:before { 
    content: ""; 
    display: table;
} 

.slick-track:after { 
    clear: both;
} 

li { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

.mc-carousel .slick-dots li  { 
    display: inline-block; 
    margin: 0 3px;
} 

.slick-slide { 
    float: left; 
    height: 100%; 
    min-height: 1px; 
    display: none;
} 

.slick-initialized .slick-slide  { 
    display: block;
} 

.mc-carousel .slick-slide  { 
    transition: opacity .25s ease;
} 

.mc-carousel .slick-dots .slick-dot  { 
    width: 4px; 
    height: 4px; 
    background: var(--mc-theme-carousel-dot); 
    border-radius: 4px; 
    outline: 0; 
    transition: background .25s ease,width .5s ease; 
    pointer-events: none;
} 

.mc-carousel .slick-dots .slick-active .slick-dot  { 
    background: var(--mc-theme-carousel-dot-active); 
    width: 16px;
} 

.mc-sr-only { 
    border: 0!important; 
    clip: rect(1px,1px,1px,1px)!important; 
    -webkit-clip-path: inset(50%)!important; 
    clip-path: inset(50%)!important; 
    height: 1px!important; 
    margin: -1px; 
    overflow: hidden!important; 
    padding: 0!important; 
    position: absolute!important; 
    width: 1px!important; 
    white-space: nowrap!important;
} 

.d-block { 
    display: block!important;
} 

@media (min-width: 768px){ 
  .d-md-flex { 
    display: flex!important;
  } 
}     

.justify-content-center { 
    justify-content: center!important;
} 

.align-items-center { 
    align-items: center!important;
} 

@media (min-width: 0){ 
  .mc-mx-2 { 
    margin-left: var(--mc-scale-2)!important; 
    margin-right: var(--mc-scale-2)!important;
  } 
}     

.mc-bg-#828282-200 { 
    background: rgb(39, 44, 51);
} 

.mc-corners--2 { 
    border-radius: var(--mc-scale-2);
} 

.mc-overflow--hidden { 
    overflow: hidden;
} 

@media (min-width: 0){ 
  .mc-px-12 { 
    padding-left: var(--mc-scale-12)!important; 
    padding-right: var(--mc-scale-12)!important;
  } 
}     

@media (min-width: 0){ 
  .mc-py-9 { 
    padding-top: var(--mc-scale-9)!important; 
    padding-bottom: var(--mc-scale-9)!important;
  } 
}     

.StudentStory_quoteCard__ixmBq { 
    position: relative; 
    width: 283px; 
    min-height: 300px; 
    z-index: 1;
} 

@media (min-width: 960px){ 
  .StudentStory_quoteCard__ixmBq { 
    left: 30px; 
    width: 612px; 
    height: 330px;
  } 
}     

@media (min-width: 960px){ 
  .StudentStory_imageContainer__Ub4S7 { 
    position: relative; 
    left: -40px;
  } 
}     

@media (min-width: 576px){ 
  .StudentStory_imageContainer__Ub4S7 { 
    width: 336px; 
    left: -40px;
  } 
}     

blockquote { 
    margin:  0; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit; 
    vertical-align:  baseline;
    quotes: none;
} 

.mc-text-large { 
    font-size: var(--mc-scale-5); 
    line-height: 1.6; 
    letter-spacing: .01em;
} 

@media (min-width: 0){ 
  .mc-mb-6 { 
    margin-bottom: var(--mc-scale-6)!important;
  } 
}     

blockquote:after,blockquote:before,q:after,q:before { 
    content: none;
} 

label { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

.mc-text-small { 
    font-size:  var(--mc-scale-3-5);
    line-height: 1.45; 
    letter-spacing: .01em;
} 

.mc-text--bold { 
    font-weight: 500!important;
} 

.mc-opacity--muted { 
    opacity: .6!important;
} 

@media (min-width: 0){ 
  .mc-ml-2 { 
    margin-left: var(--mc-scale-2)!important;
  } 
}     

.mc-tile { 
    position: relative; 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; 
    transform: translateZ(0);
} 

.mc-tile--3x4:before,.mc-tile--poster:before { 
    display: block; 
    width: 100%; 
    padding-top: 133.3333333333%; 
    content: ""; 
    pointer-events: none;
} 

.mc-tile__content { 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 1;
} 

img { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

.mc-tile-image { 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.slick-slide img  { 
    display: block;
} 


