<!--Title text-->
<h2 class="mc-text-h2 mc-mb-10 mc-text--center" style="color: rgb(240, 155, 76);">Now Trending</h2>
<div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
            <div class="row justify-content-center">
              <!-- book 1-->
              <div class="col-md-4">
                <div class="card">
                  <div class="inner">
                    <img src="https://m.media-amazon.com/images/I/91KF+k7Lt5L._AC_UY545_FMwebp_QL65_.jpg"
                      class="card-img-top">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">The Da Vinci Code</h5>
                    <p class="card-text">Dan Brown</p>
                  </div>
                </div>
              </div>
              <!-- book 2-->
              <div class="col-md-4">
                <div class="card">
                  <div class="inner">
                    <img
                      src="https://i0.wp.com/chababbooks.com/wp-content/uploads/2021/04/9780722532935.jpg?w=264&ssl=1"
                      class="card-img-top">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">The Alchemist</h5>
                    <p class="card-text">Paulo Coelho</p>
                  </div>
                </div>
              </div>
              <!-- book 3-->
              <div class="col-md-4">
                <div class="card">
                  <div class="inner">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Tales_serial.jpg"
                      class="card-img-top">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">A Tale of Two Cities</h5>
                    <p class="card-text">Charles Dickens</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <!--Dummy data. for each hoye gele delete korte hobe.-->
    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center">
          <!-- book 4-->
          <div class="col-md-4">
            <div class="card">
              <div class="inner">
                <img src="https://m.media-amazon.com/images/I/91KF+k7Lt5L._AC_UY545_FMwebp_QL65_.jpg"
                  class="card-img-top">
              </div>
              <div class="card-body">
                <h5 class="card-title">The Da Vinci Code</h5>
                <p class="card-text">Dan Brown</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--until here-->
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>